@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');
@import "./variables.css";

body {
  height: 100vh;

  display: flex;
  justify-content: center;

  background-color: var(--light);
  background-image: url('../whitenoise-361x370.png');
  
  font-family: 'Press Start 2P', cursive; 
}

.github {
  position: absolute;
  top: 0;
  left: 0;
  margin: 10px;
  background: url('../github.svg');
  width: 30px;
}